{% extends "base.html" %}
    
{% block title %}Sabores da Amazônia{% endblock %}

{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/cardapio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/hero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/partners.css') }}">
{% endblock %}

{% block content %}
<header>
    {% include 'navbar.html' %}
</header>

<main>
    <section class="hero hero-main">
        <h1>Amazon Nutry</h1>
    </section>

    <section class="hero hero-bombom">
        <div class="hero-image">
            <div id="img">
                <img src="{{ url_for('static', filename='assets/produtos/bombom.png') }}" alt="Bombom de cupuaçu">
            </div>
        </div>
        
        <div class="hero-content">
            <h1>Bombons de Cupuaçu</h1>
            <p>Experimente o verdadeiro sabor da Amazônia com nosso bombom artesanal de cupuaçu, recheado com a pura polpa do cupuaçu, fresca e autêntica. Cada mordida traz o aroma e o sabor marcante da floresta.</p>
            <a href="/produto/bombom" class="btn">Ver mais</a>
        </div>
    </section>
            
    <section class="cardapio" id="cardapio">
        <h2>Nossos Produtos</h2>
        <div class="produtos">
            <div class="produto-card">
                <img src="{{ url_for('static', filename=produto2.image) }}" alt="{{ produto2.name }}" />
                <h3>{{ produto2.name }}</h3>
                <p>{{ produto2.short_description }}</p>
                <a href="{{ url_for('bombom2') }}" class="btn-produto">Ver detalhes</a>
            </div>

            {% for produto in produtos %}
            <div class="produto-card">
                <img src="{{ url_for('static', filename=produto.image) }}" alt="{{ produto.name }}" />
                <h3>{{ produto.name }}</h3>
                <p>{{ produto.short_description }}</p>
                <a href="{{ url_for('produto_detalhe', produto_id=produto.id) }}" class="btn-produto">Ver detalhes</a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="parceiros" id="parceiros">
        <h2>Nossos Parceiros</h2>
        <div class="parceiros-lista">
            {% for parceiro in parceiros %}
            <div class="parceiro-card">
                <img src="{{ url_for('static', filename=parceiro.image) }}" alt="{{ parceiro.name }}" />
                <h3>{{ parceiro.name }}</h3>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
        
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>   
{% endblock %}