{% extends "base.html" %}

{% block title %}{{ produto.name }} - Sabores da Amazônia{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products/products.css') }}">
{% endblock %}

{% block content %}
<header>
    {% include 'navbar.html' %}
</header>

<main class="produto-detalhe">
    <div class="produto-info">
        <div class="img-wrapper">
            <div class="badge">Produto Amazônico 🌿</div>
            <img src="{{ url_for('static', filename=produto.image) }}" alt="{{ produto.name }}">
        </div>
        <div class="info-texto">
            <h1>{{ produto.name }}</h1>
            
            <p id="alert">Sabor sem igual</p>

            <div class="avaliacao">
                ⭐⭐⭐⭐⭐ <span>({{ produto.fake }} avaliações)</span>
            </div>


            <p class="descricao">{{ produto.description }}</p>

            <div class="linha"></div>

            <p class="preco">R$ {{ '%.2f'|format(produto.price) }}</p>

            <div class="beneficios">
                <p><i class="fa-solid fa-seedling"></i> Produto 100% natural e artesanal</p>
                <p><i class="fa-solid fa-box-open"></i> Embalado à mão com muito carinho</p>
                <p class="entrega"><i class="fa-solid fa-truck"></i>  Entrega rápida em todo o Brasil</p>
                <p class="garantia"><i class="fa-solid fa-shield-heart"></i> Garantia de qualidade e procedência</p>
            </div>
            
            <div style="display: flex; gap: 1rem; justify-content: center; align-items: center; margin-top: 2rem;">
                <a href="#" class="btn-produto">Comprar Agora</a>
                <form action="{{ url_for('add_to_cart', produto_id=produto.id) }}" method="post" style="margin:0;">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn-produto" style="display: flex; align-items: center; gap: 0.5em;">
                        <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
{% endblock %}
